:root {
  --navbar-bg: #200D38;
  --menu-button: #3B3660;
  --pink-dark: #D3908F;
  --pink-medium: #E6ABBD;
  --pink-light: #E8D2DA;
}

html, body {
  font-family: Futura;
  background-color: var(--pink-light);
}

h1,p{
  padding: 1rem;
  display:flex;
  justify-content: center;
}