:root {
  --navbar-bg: #200D38;
  --menu-button: #3B3660;
  --pink-dark: #D3908F;
  --pink-medium: #E6ABBD;
  --pink-light: #E8D2DA;
}

html, body {
  margin: 0;
  height:100vh;
  width:100%;
  padding:vw;
  font-family: Futura;
}
* {
  box-sizing: border-box;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: var(--pink-light) !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #8064A2;
    border-color: #8064A2;
}

/* NAVBAR */
#navbar-wrapper {
	top: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  width: 0px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: var(--navbar-bg);
}
.navbar {
  position: absolute;
  display: inline-block;
  margin: 0;
	padding: 0 20px 0 0;
	list-style: none;
	width: 100%;
	top: 15%;
}
.navbar li.nav-item a {
  padding: 0px 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 200%;
}
li.nav-item a:hover {
  color: var(--pink-medium);
  transition: all 0.3s;
}

#navbar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* MENU BUTTON */
.menu-toggle {
  position: fixed;
  right: 30px;
  top: 30px;
  color: white;
  background: black;
  z-index: 999;
  width: 50px;
  height: 50px;
}
.menu-toggle > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-toggle:focus, .menu-toggle:hover {
  color:white;
}

.menu-toggle:hover, .menu-toggle.active {
  background: var(--menu-button);
}

/* ABOUT SECTION */
#about-me {
  width: 100%;
  height: 100%;
  background-color: var(--pink-light);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-repeat: no-repeat; */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#jean-img {
  /* display:flex; */
  width: 10em;
  margin: 20px;
}

/* TECHNOLOGY SECTION */
#technologies {
  height: 100%;
  background-color: var(--pink-dark);
}

/* PROJECTS SECTION */
#projects{
  height: 100%;
  background-color: var(--pink-light);
}

/* CONTACT SECTION */
#contact{
  height: 60%;
  background-color: var(--pink-dark);
}

#form-message {

}