:root {
  --navbar-bg: #200D38;
  --menu-button: #3B3660;
  --pink-dark: #D3908F;
  --pink-medium: #E6ABBD;
  --pink-light: #E8D2DA;
}

html, body {
  margin: 0;
  height:100vh;
  width:100%;
  padding:vw;
  font-family: Futura, 'sans-serif';
}

.tooltip {
  font-family: Futura, 'sans-serif';
}
* {
  box-sizing: border-box;
}

.btn,
.btn:active,
.btn:visited {
  color: white;
  background-color: var(--navbar-bg);
  border-color: var(--navbar-bg);
}
.btn:hover,
.btn:focus {
  color: white;
  background-color: var(--menu-button);
  border-color: var(--menu-button);
}

h2,h3,h4,h5{
  display:flex;
  justify-content: center;
  padding: 2rem;
}
h2 {
  text-decoration: underline;
}

h4,h5 {
  padding: 1rem;
}

hr {
  width:90%;
}

a {
  color: var(--menu-button);
}

a:hover{
  color: var(--navbar-bg);
}

/* NAVBAR */
#navbar-wrapper {
	top: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  width: 0px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: var(--navbar-bg);
}
.navbar {
  position: absolute;
  display: inline-block;
  margin: 0;
	padding: 0 .5rem 0 0;
	list-style: none;
	width: 100%;
	top: 15%;
}
.navbar li.nav-item a {
  padding: 0px 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 200%;
}
li.nav-item a:hover {
  color: var(--pink-medium);
  transition: all 0.3s;
}

#navbar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* MENU BUTTON */
.menu-toggle {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  color: white;
  background: black;
  z-index: 999;
  width: 3rem;
  height: 3rem;
}
.menu-toggle > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-toggle:focus, .menu-toggle:hover {
  color:white;
}

.menu-toggle:hover, .menu-toggle.active {
  background: var(--menu-button);
}

/* BANNER SECTION */
#banner {
  width: 100%;
  height: 100%;
  background-color: var(--pink-light);
  background: linear-gradient(var(--pink-light), var(--pink-dark));
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-repeat: no-repeat; */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mini-social-links {
  position: relative;
  left: 1.5rem;
  top: 1.5rem;
  align-self: flex-start;
}
.mini-social-links ul {
	list-style: none;
  width: 100%;
  padding: 0;
  margin:0;
}

.mini-social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .5rem;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  color: white;
  background: var(--pink-medium);
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.mini-social-links li a:hover{
  background: var(--pink-dark);
}

.titleText{
  text-align: center;
  font-weight: bold;
  font-size: 3vw;
}

.rotatingText {
  padding: 0rem 2rem ;
  font-weight: bold;
  font-size: 3vw; 
  text-align: center;
  opacity: 0;
  position: relative;
  display:inline-block;
}

.rotatingText:nth-of-type(1) {
  animation: rotate 1.5s linear 2s 1 normal forwards;
}

.rotatingText:nth-of-type(2) { animation: rotate 1.5s linear 3.5s 1 normal forwards;
}

.rotatingText:nth-of-type(3) {
  animation: rotate 1.5s linear 5s 1 normal forwards;
}

.rotatingText:nth-of-type(4) {
  animation: rotate 1.5s linear 6.5s 1 normal forwards;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}


/* ABOUT SECTION */
#about {
  padding-top:3vh;
  background: linear-gradient(var(--pink-dark), var(--pink-medium));
}

#jean-img {
  max-width: 100%;
  border: solid 1rem white;
  border-bottom: solid 4.5rem white;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  border-radius: 2%; 
  box-shadow: 0rem 1rem 2rem black;
}

@media (max-width: 768px) { 
  #jean-img {
    max-width: 60%;
  }
}

#blurb {
  padding: 2rem;
}

/* PROJECTS SECTION */
#projects{
  padding-top:3vh;
  background: linear-gradient(var(--pink-medium), var(--pink-dark));
}

.carousel-item img {
  width: auto;
  height: 300px;
  max-height: 300px;
  margin: auto;
  padding: 2rem;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

.carousel-indicators {
  bottom: -2rem;
}

/* TECHNOLOGY SECTION */
#technologies {
  height: 100%;
  background: linear-gradient(var(--pink-dark), var(--pink-light));
}

/* CONTACT SECTION */
#contact{
  background: linear-gradient(var(--pink-light), var(--pink-dark));
}

#form-message{
  padding-bottom: 1rem;
}

.social-links {
  display:flex;
}
.social-links ul {
  display: flex;
  justify-content: center;
	padding: 1rem 0rem;
	list-style: none;
	width: 100%;
}

.social-links li {
  float: left;
}

.social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem .5rem;
  text-decoration: none;
  color: white;
  background: var(--pink-medium);
  width: 3rem;
  height: 3rem;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.social-links li a:not([href]),
.social-links li a:not([href]):hover{
  color: white;
}

.social-links li a:hover {
  background: var(--pink-light);
}

/* GO TOP ARROW */
.go-to-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  color: white;
  background: black;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.go-to-top.active {
  opacity: 1;
  visibility: visible;
}
.go-to-top > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.go-to-top:focus, .go-to-top:hover {
  color:white;
}
.go-to-top:hover {
  background: var(--menu-button);
}

/* FOOTER SECTION */
footer {
  padding: 2.5rem 0rem 2rem;
  background-color: var(--pink-dark);
}
